@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');


html, body {
	padding: 0;
	margin: 0;
}

header, footer {
	width: 100%;
	height:100px;
	background: #000;
	color: white;
	text-align: center;
	padding-top: 30px;
	font-size: 54px;
	font-family: 'Oswald', sans-serif;
}

.videos {
	width: 100%;
	justify-content: center;
	text-align: center;
}

iframe {
	padding: auto;
	margin: 2px;
	margin-top: 60px;
}

.foto {
	width: 80%;
	justify-content: center;
	margin-left:10%;
	margin-top:60px;
}

p {
	width: 80%;
	margin-left:10%;
	 font-family: 'Oswald', sans-serif;
	 font-size: 17px;
}

.puki {
	margin-bottom: 100px;
}

.yt {
	width: 80px;
	margin-bottom: -6px;
}

a {
	text-decoration: none;
	color: white
}